.navbarWrapper {
  width: 100%;
  height: 100px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 3px 3px #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.navLinks {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.navLinks:hover {
  text-decoration: underline;
}

.navMenu {
  display: flex;
  gap: 40px;
}

.active {
  color: rgb(215, 29, 29);
}

.textOur {
  color: #02262f;
  font-size: 32px;
  font-weight: bold;
}

.vision {
  color: #13a4cc;
  font-size: 32px;
  font-weight: bold;
}

.aboutUsWrapper {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}

.textContainer {
  width: 60%;
  text-align: justify;
  color: black;
  font-size: 14px;
  font-weight: normal;
}

.featureTitle {
  font-size: 32px;
  font-weight: bold;
  color: #13a4cc;
  text-align: center;
}

.featureBoxesWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 60px;
  flex-wrap: wrap;
  row-gap: 30px;
}
.Card {
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: white;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 6px;
  padding-top: 20px;
  transition: transform 500ms;
  cursor: pointer;
}
.Card:hover {
  transform: scale(1.1);
}
.cardTitle {
  color: #094857;
  font-size: 18px;
  font-weight: bold;
}

.contactheader {
  font-size: 32px;
  font-weight: bold;
  color: #094857;
  text-align: center;
}

.contactText {
  font-size: 32px;
  font-weight: bold;
  color: #13a4cc;
  text-align: center;
}

.trust {
  font-size: 32px;
  color: #094857;
  text-transform: uppercase;
}

.partner {
  font-size: 32px;
  color: #13a4cc;
  text-transform: uppercase;
}

.text {
  font-size: 20px;
  color: #cdcdcd;
  font-weight: bold;
}

.contactCard {
  width: 400px;
  height: 240px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 20px;
  border-radius: 8px;
  transition: transform 500ms ease-in-out;
  margin-top: 40px;
  cursor: pointer;
}

.contactCard:hover
{
  transform: scale(1.05);
  background-color: #f1f1f1;
}

.contactcardwrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
}
.contactLocation {
  width: auto;
  min-height: 30px;
  padding: 4px;
  border: 2px solid #13a4cc;
  border-radius: 14px;
  color: black;
}

.homeSection1
{
  width: 100%;
  height: 600px;
  background-image: url(https://images.pexels.com/photos/6302424/pexels-photo-6302424.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: left;
  margin-top: -20px;
  padding-left: 20px;
}

.yourSolution
{
  font-size: 34px;
  color: #13a4cc;
  font-weight: bold;
}
.marineServices
{
  font-size: 30px;
  color: #02262f;
  line-height: 30px;
  font-weight: bold;
}
.createReqbtn
{
  width: 240px;
  height: 50px;
  padding: 8px;
  border: 4px solid #13a4cc;
  outline: none;
  background-color: #daf7ff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
}
.createReqbtn:hover{
  background-color: #4491a4;
}

.homeSection2
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 60px;
  background-color: linear-gradient(180deg, #e6f4f7 0%, #f8fbfc 100%);
}

.highlightsTitle{
  font-size: 24px;
  text-align: center;
  color: #4491a4;
}

.count
{
  font-size: 24px;
  color: #094857;
  font-weight: bold;
}
.label
{
  font-size: 30px;
  font-weight: normal;
  color: #4491a4;
}
.highlightcard
{
  display: flex;
  flex-direction: column;
  background-color: #f1f1f188;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.homeSection3
{
  width: 100%;
  min-height: 600px;
  background-color: #15b5dc8f;
  display: flex;
 justify-content: space-around;
 padding-top: 20px;
 padding-bottom: 20px;
}
.formSection1
{
  width: 49%;
  min-height: 500px;
}
.shipSection
{
  width: 100%;
  background-image: url(https://ik.imagekit.io/auwine2hh/ChatGPT%20Image%20Mar%2021,%202026,%2003_11_38%20PM.png);
  background-size: 100% 150%;
  background-repeat: no-repeat;
  height: 300px;
}
.formSection2
{
  width: 49%;
}
.tellUstext
{
  text-align: center;
  color: white;
  font-size: 30px;
}

.form-container {
  background: #ffffff;
  padding: 24px;
  border-radius: 16px;
  width: 100%;
  max-width: 420px; /* ✅ limit width */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  font-family: "Inter", sans-serif;
}

.form-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.toggle {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.toggle button {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #f1f5f9;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.toggle button.active {
  background: #0ea5b7;
  color: white;
  font-weight: 500;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input-field {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
  box-sizing: border-box; 
}

.input-field:focus {
  border-color: #0ea5b7;
  box-shadow: 0 0 0 2px rgba(14, 165, 183, 0.1);
}


.row {
  display: flex;
  gap: 10px;
}

.row .email-input {
  flex: 1;
}

.phone-group {
  display: flex;
  gap: 6px;
  flex: 1;
}

.phone-group select {
  width: 80px;
}

.file-upload {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 13px;
  color: #64748b;
}

textarea.input-field {
  min-height: 80px;
  resize: none;
}

.submit-btn {
  margin-top: 8px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #0ea5b7;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #0284c7;
}

@media (max-width: 480px) {
  .row {
    flex-direction: column;
  }
}
.points 
{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.journey
{
  color: white;
  font-size: 14px;
  font-weight: normal;
}

.textConnect
{
  font-size: 32px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.headerSection1
{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.createRequestWrapper
{
  width: auto;
  min-height: 100vh;
  background-color: #f1f1f1;
  padding-left: 20px;
  padding-right: 20px;
}

.pageTitle
{
  font-size: 28px;
  font-weight: bold;
  color: black;
}

.formContainer
{
  background-color: white;
  box-shadow: 0px 0px 3px 3px #dcdada;
  width: 97%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
}

.grid
{
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  gap: 30px;
}

.reqNoField
{
  width: 255px;
  height: 35px;
  border-radius: 10px;
  padding: 0px 6px 0px 6px;
  outline: none;
}

.dropdown
{
  width: 270px;
  height: 35px;
  padding: 6px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.datepicker
{
  width: 265px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
}

.remarks
{
  width: 260px;
  height: 100px;
  border-radius: 8px;
  border: 1px solid black;
  outline: none;
}

.orderRequest
{
  width: auto;
  height: 35px;
  padding: 0px 10px 0px 10px;
  border-radius: 4px;
  outline: none;
  background-color: #13a4cc;
  border: 1px solid #0ea5b7;
  color: white;
  cursor: pointer;
}

.orderDetailsBox
{
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

.orderDetailsRow
{
  display: flex;
  gap: 30px;
  margin-bottom: 15px;
  text-align: justify;
}

.loginWrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.signupContainer
{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupSection
{
  width: 50%;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 4px 4px #f1f1f1;
  display: flex;
  gap: 30px;
}

.signupImg
{
  background-image: url(https://img.freepik.com/free-vector/user-verification-unauthorized-access-prevention-private-account-authentication-cyber-security-people-entering-login-password-safety-measures_335657-3530.jpg);
  background-size: contain;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
}

.signupForm
{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

